* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(189, 12, 12);
    color: black;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 40%;
    height: 200px;
    border: 3px solid rgb(222, 221, 221);
    background-color: white;
    text-align: center;
    margin-top: 10%;
    box-shadow: 2px 6px 6px 2px rgb(101, 99, 99);
}

.card h2 {
    position: absolute;
    color: rgb(75, 73, 73);
    font-size: 50px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 10%;
    top: 10%;
}

.left {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 10%;
    top: 10%;
}

section {
    position: relative;
}

.btn {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 150%;
    color: antiquewhite;
    border: 2px solid black;
    bottom: -25px;
    -ms-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
    background-color: rgb(189, 12, 12);
    box-shadow: 1px 4px 4px 1px rgb(154, 150, 150);
}

#counts {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 8px;
    padding: 20px;
    color: rgb(75, 73, 73);
    font-size: 300%;
    bottom: -400px;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 1px 4px 4px 1px rgb(101, 99, 99);
    width: 35%;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .card {
        width: 60%;
    }
}

@media screen and (max-width: 920px) {
    .card {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .card {
        width: 95%;
    }

    #counts {
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .card img {
        width: 100px;
        height: 100px;
        top: 15%;
    }

    .left {
        left: 5%;
    }

    .right {
        right: 5%;
    }
}
